header, section, footer {
    margin: 2%;
    padding: 2%;
    outline: 4px dashed black;
    vertical-align: top;
    background-color: white;
}

body {
  background-image: url("http://www.planwallpaper.com/static/images/recycled_texture_background_by_sandeep_m-d6aeau9_PZ9chud.jpg");
}

section {
	display: inline-block;
	width: 40%;
}

.column-2 {
  position: relative;
  float: right;
}

h2 {
  font-family: comic sans ms, sans serif;
  color: dimgrey;
}

h1 {
  text-align: center;
}